<div class="flex align-items-center justify-content-center register-body min-h-screen">
    <p-card header="Crear Cuenta" [style]="{ width: '450px' }" class="shadow-4">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">

            <div class="flex flex-column gap-1">
                <label for="usuario">Usuario</label>
                <input pInputText id="usuario" formControlName="usuario" class="w-full" />
            </div>

            <div class="flex flex-column gap-1">
                <label for="nombre">Nombre Completo</label>
                <input pInputText id="nombre" formControlName="nombre" class="w-full" />
            </div>

            <div class="flex flex-column gap-1">
                <label for="email">Email</label>
                <input pInputText id="email" formControlName="email" class="w-full" />
            </div>

            <div class="flex flex-column gap-1">
                <label for="tel">Teléfono</label>
                <input pInputText id="tel" formControlName="telefono" class="w-full" placeholder="Solo números" />
            </div>

            <div class="flex flex-column gap-1">
                <label for="fecha">Fecha de Nacimiento</label>
                <input type="date" pInputText id="fecha" formControlName="fechaNacimiento" class="w-full" />
                <small class="text-red-500" *ngIf="registerForm.get('fechaNacimiento')?.hasError('menorEdad')">
                    Debes ser mayor de edad.
                </small>
            </div>

            <div class="flex flex-column gap-1">
                <label for="dir">Dirección</label>
                <input pInputText id="dir" formControlName="direccion" class="w-full" />
            </div>

            <div class="flex flex-column gap-1">
                <label for="pass">Contraseña</label>
                <p-password id="pass" formControlName="password" [toggleMask]="true" styleClass="w-full"
                    inputStyleClass="w-full" placeholder="10+ caracteres y símbolo" />
            </div>

            <div class="flex flex-column gap-1">
                <label for="conf">Confirmar Contraseña</label>
                <p-password id="conf" formControlName="confirmarPassword" [feedback]="false" [toggleMask]="true"
                    styleClass="w-full" inputStyleClass="w-full" />
            </div>

            <p-button type="submit" label="Registrar" icon="pi pi-check" class="w-full mt-2" severity="success"
                [disabled]="registerForm.invalid" />

            <div class="text-center">
                <a routerLink="/login" class="text-sm no-underline text-primary">¿Ya tienes cuenta? Loguéate</a>
            </div>
        </form>
    </p-card>
</div>